@import "../colors";

$display-modes-margin-right: 24px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  color: $dark-gray;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

app {
  display: block;
  height: 100%;
}

header {
  height: 100px;
  flex-shrink: 0;
  background-color: $dark-gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .display-modes {
    cursor: pointer;

    .toogle-menu-btn {
      font-size: 24px;
      margin-right: $display-modes-margin-right;
      color: $light-gray;

      &:hover {
        color: $white;
      }
    }

    .btn-group {
      .dropdown-menu {
        top: -12px;
        right: -$display-modes-margin-right;
        left: auto;

        .sub-title {
          text-align: center;
          cursor: default;

          a {
            color: $medium-gray;

            &:hover {
              background-color: transparent;
              background-image: none;
            }
          }
        }

        .selected {
          a {
            background-color: #F4F4F4;
          }
        }
      }
    }
  }
}

main {
  flex-grow: 2;

  .filter {
    label {
      font-weight: normal;
      margin-left: 4px;
    }
  }

  .container {
    margin-top: 24px;
  }
}

footer {
  height: 60px;
  margin-top: 24px;
  flex-shrink: 0;
  background-color: $dark-gray;
}