@import "../../colors";

$temperature-gradient-width: 10px;

weather-widget {
  position: relative;
  display: block;
  margin-top: 24px;
  color: $white;
  background: linear-gradient(135deg,  #30617f 0%, #94d4c6 100%);
  text-shadow: 0 1px 2px $medium-gray;

  &:hover {
    .controls-container {
      .control {
        display: flex;

        &.hideControl {
          display: none;
        }
      }
    }
  }

  .controls-container {
    position: absolute;
    display: flex;
    top: 6px;
    right: $temperature-gradient-width + 6px;
    font-size: 18px;

    .control {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:nth-of-type(n+2) {
        margin-left: 6px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .favorite:hover, .favorite.active {
      display: flex;
      color: $yellow;
    }

    .add:hover {
      color: $lime-green;
    }

    .delete:hover {
      color: $fuchsia;
    }
  }

  .main-data {
    display: flex;
    position: relative;

    .shortcut {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .city-name {
        height: 40px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
      }
    }

    .temperature {
      display: flex;
      flex-basis: 50%;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-weight: bold;
    }

    .temperature-gradient {
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      height: 100%;
      background: linear-gradient(to top, rgb(31, 111, 196) 0%, rgb(148, 212, 198) 30%, rgb(255, 255, 255) 50%, rgb(255, 225, 123) 70%, rgb(219, 4, 0) 100%);

      .pointer {
        position: absolute;
        right: 7px;
        transform: translateY(-50%);
        border: solid transparent;
        border-width: 5px 0 5px 10px;
        border-left-color: $white;
      }
    }
  }

  .other-data-container {
    display: flex;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(223, 235, 239, 0.51) 0%, rgba(244, 250, 252, 0.5) 100%);

    & > .other-data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 33%;

      &:nth-child(n+2) {
        border-left: 1px solid rgba(255,255,255,0.2);
      }
    }
  }

  .no-weather-data {
    padding: 60px 0;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }
}