//PRIMARY BASIC COLORS
$blue: #39C2D7;
$lime-green: #A3C644;
$dark-gray: #464547;
$white: #FFFFFF;

//SECONDARY BASIC COLORS
$raspberry: #B22746;
$plum: #8E244D;
$dark-blue: #1A9CB0;
$dark-green: #7F993A;
$medium-gray: #666666;
$gray: #999999;
$light-gray: #CCCCCC;

//ADDITIONAL COLORS
$yellow: #FFDC19;
$orange: #FF9B19;
$red: #CB2323;
$fuchsia: #E4445F;
$black: #333333;
$violet: #8B5A9F;
$bg-gray: #F5F5F5;
$dark-bg-gray: #EBEEF0;