<div class="input-group input-group-lg">
    <form class="custom-city-form" (ngSubmit)="getCityWeatherData(cityName)" #customCityForm="ngForm">
        <input type="text"
               name="customCityInput"
               class="form-control"
               placeholder="Enter city name"
               [ngModel]="cityNameInput"
               #cityName="ngModel"
               validateCityName>
        <button [disabled]="customCityForm.form.invalid" type="submit" class="btn btn-default">Get weather!</button>
    </form>
    <error-message *ngIf="cityName.invalid && cityName.dirty"
                   [errors]="cityName?.errors"
                   [messageParams]="errorMessage">
    </error-message>
</div>
<weather-widget [cityWeatherData]="cityNameValue | cityWeather"
                [userSettings]="userSettings"
                [hideControls]="true">
</weather-widget>