<div class="input-group input-group-lg">
    <input type="text" #cityName="ngModel" class="form-control" placeholder="Enter city name" ngModel required>
    <span class="input-group-btn">
        <button [disabled]="!cityName.valid" type="button" class="btn btn-default" (click)="getCityWeatherData(cityName.value)">Get weather!</button>
    </span>
</div>
<loader [ngClass]="{'show-loader': isLoading}"></loader>
<weather-widget [hidden]="isLoading || isDataNeverLoaded" [cityWeatherData]="cityWeatherData"></weather-widget>